@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropdown-toggle::after {
  display: none;
}

.nav-item.active > a {
  color: aqua;
}

.nav-item > a:hover {
  background-color: #4290f5;    
}

textarea {
  width: 100%;
  border: 1px solid #000000;
}

.home-prompt {
  margin-top:18em;
}

@import '../node_modules/bootstrap/dist/css/bootstrap.css'